@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron text-center homeH1">
    <h1>A Codingcademy.</h1>
</div>
@*<div class="text-center homeCodeImg">
    <img src="~/images/eatsleepcode.jpg" alt="Learn to code!" />
</div>*@
@*<div class="row">
    <div class="col-md-4">
        <h2>Welcome to A Codingcademy.</h2>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
    </div>
</div>*@